<div ng-custom-pagination></div>

<form id="registration" ng-submit="submit()">
  <div class="form-group">
    <label for="inputEmail">Adres email</label>
    <input type="email" class="form-control" id="inputEmail" placeholder="Email" ng-model="user.email">
  </div>
  <div class="form-group">
    <label for="inputPassword">Mocne i trudne hasło</label>
    <input validatePassword type="password" class="form-control" id="inputPassword" placeholder="Hasło" ng-model="user.password">
  </div>
  <button type="submit" class="btn btn-default">Dalej</button>

</form>
